@import 'tailwindcss';

body {
  background-color: var(--color-background-dark-blue);
  color: var(--color-text-orange);
}

:root {
  --color-background-dark-blue: #211f30;
  --color-background-dark-blue-hovered: #27253b;
  --color-border-dark-blue: #1e1d2b;
  --color-background-asphalt: #32384d;
  --color-background-asphalt-hovered: #373f57;
  --color-border-asphalt: #2d3142;
  --color-text-orange: #e29930;
  --color-selection-blue: #217ca3;
}

.customScrollbar::-webkit-scrollbar {
  background-color: none;
  width: 5px;
}

.customScrollbar::-webkit-scrollbar-thumb {
  border-radius: 3px;
  width: 4px;
  background-color: var(--color-text-orange);
  cursor: default;
}
